/* .moving-image {
  width: 150px;
  animation: move 3s infinite alternate ease-in-out;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
} */

/* .moving-image {
  width: 100px;
  animation: fadeSlide 2s ease-in-out forwards;
}

@keyframes move {
   0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

body{
  margin: 0;
  padding: 0;
}
.emblue{
  color: brown;
}